.section-text {
  padding: 0px 10px;
}

footer p {
  padding: 5px;
}

body {
  /* background-color: rgba(241, 190, 221, 0.694); */
  background: linear-gradient(135deg ,rgba(251, 178, 207, 0.665),   rgba(241, 212, 255, 0.665));
  margin: 0;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

img {
  margin-top: 2em;
  width: 120px;
  height: 120px;
  display: block;
  border: 4px solid aliceblue;
  border-radius: 50%;
  box-shadow: 0px 4px 5px rgba(222, 218, 218, 0.388);
}

.intro-image {
  margin-top: 0%;
  color: rgba(240, 248, 255, 0.893);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(55, 6, 70); */
  background: linear-gradient(270deg,rgba(54, 4, 65, 0.8),rgba(1, 1, 46, 0.8));
}

.intro-text h2 {
  font-size: x-large;
  text-align: center;
  margin-bottom: 12px;
}

.role {
  margin: 0;
  border-bottom: 1.5px solid rgba(85, 82, 82, 0.596);
  padding-bottom: 4px;
  font-size: 15px;
  text-align: center;
}

.desc {
  font-size: 14.5px;
  text-align: center;
}

.navbar {
  margin-top: 20px;
  margin-bottom: 25px;
  border: 1.5px solid white;
  border-radius: 6px;
  /* background-color: rgb(6, 93, 164); */
  background-color: rgba(165, 42, 42, 0.616);
}

.navbar ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li:not(:last-child)::after {
  content: " | ";
  color: rgba(255, 255, 255, 0.7);
}

.navbar ul li {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar a:hover {
  text-decoration: underline;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 40px;
}

.about-me,
.skills,
.projects,
.education,
.certifications,
.contact-me {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(78, 73, 73, 0.646);
  background-color: rgba(174, 131, 131, 0.525);
  /* color: white; */
}

.about-me {
  border: 2px solid rgb(227, 36, 36);
}

.skills {
  border: 2px solid orange;
}

.projects {
  border: 2px solid yellow;
}

.education {
  border: 2px solid greenyellow;
}

.certifications {
  border: 2px solid rgb(97, 196, 228);
}

.contact-me {
  border: 2px solid rgb(149, 58, 223);
}

.about-me header {
  background-color: rgb(168, 23, 23);
}

.skills header {
  background-color: rgb(224, 147, 4);
}

.projects header {
  background-color: rgb(255, 200, 0);
}

.education header {
  background-color: rgb(122, 201, 3);
}

.certifications header {
  background-color: rgb(0, 132, 255);
}

.contact-me header {
  background-color: purple;
}

header {
  color: white;
  font-weight: 600;
  height: 30px;
  padding-left: 10px;
  padding-top: 8px;
  border-radius: 8px 8px 0 0;
}

.section-text {
  padding: 0 10px;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 80%;
  margin: 10px;
}

thead,
th {
  border: 1.5px solid black;
  font-weight: bold;
}

tbody,
td {
  border: 1.5px solid black;
  padding: 5px;
}

footer {
  /* background-color: rgb(6, 93, 164); */
  background-color: rgba(165, 42, 42, 0.616);
  text-align: center;
  color: white;
  height: 30px;
}

footer p {
  padding: 5px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .information {
    margin-left: 40px;
    margin-right: 40px;
  }

  .navbar ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .information {
    margin-left: 10px;
    margin-right: 10px;
  }
}